In [158]:
import pandas as pd
import numpy as np

In [159]:
df = pd.read_csv('csvFile/deliveries.csv')

In [160]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

# most number of run by players

In [161]:
batman = df.groupby('batsman')
batman['batsman_runs'].sum().sort_values(ascending = False).head(5)

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

# most number of 4

In [162]:
mask = df['batsman_runs']==4
only_four = df[mask]

In [163]:
only_four.groupby('batsman')['batsman_runs'].count().sort_values(ascending = False).head()

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

 # most run by virat against team

In [108]:
df.groupby('batsman').get_group('V Kohli').groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending = False).head()

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

# who had hit most run in last 5 over
    condition : played Atleat 200 balls

In [115]:
mask = df['over'] > 15
new_df = df[mask]

In [147]:
last5 = new_df.groupby('batsman')
mask2 = lambda  a : a['ball'].count() > 200
moreThan200 = last5.filter(mask2)

moreThan200.groupby('batsman')['batsman_runs'].sum().sort_values(ascending = False).head()
# moreThan200

batsman
MS Dhoni          2076
KA Pollard        1352
RG Sharma         1314
AB de Villiers    1203
V Kohli            993
Name: batsman_runs, dtype: int64

In [156]:
data = {'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
        'B': [1, 2, 3, 4, 5, 6],
        'C': [7, 8, 9, 10, 11, 12]}
df = pd.DataFrame(data)
grouped = df.groupby('A')
# condition = lambda group: group['B'].mean() >= 4
# filtered_df = grouped.filter(condition)

grouped.get_group('bar')

     A  B   C
1  bar  2   8
3  bar  4  10
5  bar  6  12